/* Reset some basic elements for consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
}

html, body {
  height: 100%; /* Ensure body takes up full viewport height */
  font-family: 'Georgia', serif; /* Default font for the entire application */
}