/* Card for the wine detail page */
.wine-detail-card {
  background-color: #fff;
  max-width: 800px;
  margin: 20px;
  padding: 0;
  position: relative;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  overflow: hidden; /* Ensure overflow is hidden for inner elements */
}

/* Header styling */
.wine-detail-header {
  text-align: center;
  padding: 0;
  background-color: #8b3a3a;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Header text styling */
.wine-detail-header h1 {
  font-size: 1.3rem;
  padding: 10px;
  color: white; /* Set header text color to white */
}

/* Container for displaying front and back images */
.wine-images-container {
  display: flex;
  justify-content: center; /* Center images horizontally */
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  position: relative; /* Allow stacking */
  z-index: 1; /* Ensure images appear above background */
}

/* Swiper styles */
.swiper {
  width: 100%; /* Ensure Swiper uses full width */
  height: 100%; /* Set a fixed height for the Swiper container */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden; /* Hide overflow */
  list-style: none;
  padding: 0;
  z-index: 2; /* Ensure Swiper is above background */
}

.swiper-slide {
  /* display: flex;  */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

/* Image styling for Swiper */
.wine-detail-image {
  width: 100%; /* Allow width to scale automatically */
  height: auto; /* Ensure image takes full height of the slide */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 0; /* Remove border radius */
  box-shadow: none; /* Remove box shadow */
  border: 0;
}

/* Add a container for the Swiper Slide */
.wine-detail-image {
  display: flex;
  flex-direction: column;

}

/* Caption below each image */
.wine-detail-image p {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}

/* Wine details styling */
.wine-detail-info {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  padding: 15px;
  text-align: left;
  background-color: #fff;
  flex: 1; /* Allow info section to grow */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.wine-detail-info p {
  margin: 10px 0;
}

.wine-detail-info strong {
  color: #333;
}

/* Error and loading states */
.wine-detail-error,
.wine-detail-loading {
  text-align: center;
  font-size: 1.2rem;
  color: #d9534f;
  margin-top: 20px;
}

.wine-detail-loading {
  color: #8b3a3a;
}

.back-link {
  padding: 10px;
  text-decoration: underline;
  text-align: left;
}

.age-indicator-container {
  margin-top: 10px;
  text-align: center;
}

.age-progress {
  height: 100%;
  background-color: #4caf50; /* Green color for the progress */
  transition: width 0.3s ease; /* Smooth transition for the progress */
}

.success-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #d6e9c6;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.success-icon {
  font-size: 20px;
  margin-right: 10px;
}

.share-button-container {
  width: 100%;
  position: relative;
  align-content: right;
}

.share-wine-button {
  background-color: #29ea77;
  border-radius: 8px;
  color: #fff;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .wine-detail-image {
    max-width: 100%; /* Adjust width for mobile */
    height: auto; /* Allow height to adjust automatically */
  }

  .wine-images-container {
    flex-direction: column; /* Stack images vertically on smaller screens */
    gap: 10px;
  }
}
